{{<partials-page}}
  {{$page-content}}
  {{> partials-aggregator-summary-table}}
  <p class="govuk-body">{{#t}}pages.parent-summary.parent-limit-message{{/t}}</p>
  {{#noMoreParents}}
    <p>{{#t}}pages.parent-summary.parent-limit-exceeded{{/t}}</p>
  {{/noMoreParents}}
  <br>
  {{^noMoreParents}}
  <a href="{{baseUrl}}/{{addStep}}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another {{addAnotherLinkText}}
  </a>
  <br>
  {{/noMoreParents}}
  {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
