{{<partials-page}}
  {{$page-content}}
   <br>
  {{> partials-parent-summary-table}}
  <p class="govuk-body">You can refer a maximum of 2 parents to come to the UK.</p>
  {{#noMoreParents}}
    <p>You cannot add any more parents</p>
  {{/noMoreParents}}
  <br>
  {{^noMoreParents}}
  <a href="{{baseUrl}}/{{addStep}}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another {{addAnotherLinkText}}
  </a>
  <br>
  {{/noMoreParents}}
  {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
